.form-group {
  margin-bottom: 20px;
}

.form-inline {
  display: flex;
  gap: 15px;
  align-items: center;
}

input,
select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

button {
  padding: 12px 20px;
  background: #021a37;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

button:hover {
  background: #03325b;
}
